.list {
  list-style: none;
  background: url("img/validation_icon 2.svg") no-repeat 5% 50% #ccc;
  width: 250px;
  border-radius: 34px;
  padding: 10px 40px;
}

.list:first-child {
  margin-bottom: 15px;
}

.list a {
  text-decoration: none;
  color: inherit;
  display: block;
}