.newsContainer{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  max-width: 380px;
  font-size: 0.875rem;
}

.orangeColor {
  color: rgba(237, 85, 47, 1);
}
.title {
  grid-area: 1 / 1/ 1 / 1;
  padding-left: 15px;
}

.gradient {
  grid-area: 2 / 1 / 1 / 7;
  border-bottom:1px solid;
  border-image:linear-gradient(90deg, #A9A9A9 -1.32%, #FFFFFF 100%);
  border-image-slice: 1;
  margin-left: 15px;
}


.imgBox {
  grid-area: 2 / 1 / 2 / 1;
  margin: 10px 0 0;
  text-align: center;
}
.imgBox img {
  width: 120px;
}

.newsWapper {
  padding: 0;
  margin: 10px 0 0;
  font-size: 0.875rem;
  list-style: none;
  grid-area: 2 / 2/ 2/ 7;
}

.newsWapper li:first-child {
  font-weight: 700;
  margin-bottom: 3px;
}
.newsWapper li:nth-child(2) {
  margin-bottom: 10px;
}

.more{
  align-self: center;
  border: none;
  background: transparent;
  grid-area: 1 / 2 /1 / 7;
  text-align: right;
}

.link, .link:visited {
  color: inherit;
  text-decoration: none;
  
}