*{
  box-sizing: border-box;
}
.login--group {
  width: 245px;
  height: 160px;
  background: rgb(237,85,47);
  background: linear-gradient(90deg, rgba(237,85,47,1) 0%, rgba(232,133,46,1) 100%);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 5px 5px 0 #ccc;
}

.title {
  color: #FFFF00;
  font-size: 0.9375rem;
}

.loginForm-wrapper{
  background-color: #fff;
  border-radius: 5px;
  margin: 0 auto;
  width: 220px;
  height: 100px;
}
.hidden {
  overflow: hidden;
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
}

fieldset{
  border: 0;
  width: 220px;
  height: 65px;
  padding: 5px;
}

.zero{
  padding: 0;
  margin: 0;
}

.loginForm-box {
  list-style: none;
  margin-bottom:5px;
  width: 155px;
  font-size: 0.875rem;
}

.txt {
  display: inline-block;
  width: 3.5rem; 
}

#login, #password {
  width: 5.625rem;
  height: 1.5rem; 
  border-radius: 5px;
  border: 1px solid #ccc;
}

.login-btn {
  background: #ED552F;
  width: 50px;
  height: 53px;
  border: 0;
  border-radius: 5px;
  color: #fff;
  position: absolute;
  left: 185px;
  top: 4.0625rem;
  font-size: 0.75rem;
}


.memberService {
  list-style: none;
  width: 210px;
  padding: 10px 0 0;
  border-top: 1px solid #ccc;
  margin: 0 auto;
}

.serviceLink {
  text-decoration: none;
  padding-left: 12px;
  color: #000;
  font-size: 0.8125rem;
  background: url(img/Vector.svg) no-repeat;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}