* {
  box-sizing: border-box;
}

.container {
  background: linear-gradient(to bottom , rgba(204, 204, 204, 1), rgba(238, 238, 238, 1));
  width: 11.875rem;
  border-radius: 0.3125rem;
  border: 1px solid #a3a3a3;
  padding-bottom: 0.625rem;
}

.title {
  font-size: 0.9375rem;
  padding-left: 0.625rem;
}
.title span {
  color: #ED552F;
}

.site-item {
  margin-top: 5px;
}

.site-link, .site-link:hover, .site-link:visited, .site-link:active {
  color: inherit;
  text-decoration: none;
}

/* 리스트 접힌 스타일 */
.site-list {
  width: 10.375rem;
  height: 1.875rem;
  border: 1px solid #a3a3a3;
  border-radius: 5px;
  margin: 0 auto;
  background: #fff;
  transition: height 0.4s;
  list-style: none;
  font-size: 0.875rem;
  padding: 0 25px;
  overflow: hidden;
}

/* 펼친 스타일 */
.site-list:hover{
  height: 9.0625rem;
}

.site-list:hover .site-item:first-child {
  padding-top: 0.625rem;
  transition: padding-top 0.4s;
  transition-delay: 0.5s;
}



